body{
    background-color: #edeef6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
    background-image: url(https://raw.githubusercontent.com/juddev1/systemValidation/main/source/img/senati.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.modal-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.show{
    pointer-events: auto;
    opacity: 1;
}

.tabla{
    background-color: #fff;
    width: 1000px;
    max-width: 100%;
    padding: 50px 100px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
}

th, td{
    padding: 20px;
}

tr:hover td {
    background-color: rgb(139, 139, 240);
    color: #fff;
}

/* Boton */

.boton{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #040b20;
    border-color: #040b20;
    padding: 10px 12px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    color: #fff; 
}
thead{
    background-color: rgb(72, 72, 233);
    border-bottom: solid 5px #0F362D;
    color: white;
}
.table-fixed{
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
ul{
    margin-bottom: 0;    
}

/* Pantalla */
.doc{
    width: 1200px;
    margin: 0 auto;
    font-size: 20px;
    text-align: justify;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 12px 16px rgba(190, 190, 202, 0.932);
    opacity: 0.9;
}
.titulo{
    text-align: center;
    color: #fff;
}
.titulo2{
    text-align: center;
}
.txt{
    padding: 10px 100px;
}

/* user */

.doc picture img{
    padding-left: 460px;
    border-radius: 10px;
}

/* Boton de asistencia */
.btnasis{
    background-color: #28a745;
    border-color: #28a745;
    padding: 5px 20px;
    border-radius: 10px;
    /* transform: translateY(-15px); */
    box-shadow: 0 12px 16px rgba(37, 223, 20, 0.726);
}

.btnfalt{
    background-color: #ffc107;
    border-color: #ffc107;
    padding: 5px 20px;
    border-radius: 10px;
    /* transform: translateY(-15px); */
    box-shadow: 0 12px 16px rgba(220, 223, 20, 0.726);
}
  
  /* Diseño de Cursos */
  .container{
    width: 100%;
    display: flex;
    max-width: 2100px;
  }
  .card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #edeef6;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    
  }
  .card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
  }
  .card img{
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .card .contenido{
    padding: 15px;
    text-align: center;
  }
  .card .contenido p{
    line-height: 1.5;
    color: #7C99AC;
  }
  
  .card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
  }
  .card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    background: #040b20;
    color: #fff;
    border: 1px solid #040b20;
    border-radius: 4px;
    transition: all 400ms ease;
  }
  .card .contenido a:hover{
    background: #fff;
    color: #040b20;
  }

  