body{
    background-color: #edeef6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.modal-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.show{
    pointer-events: auto;
    opacity: 1;
}

.tabla{
    background-color: #fff;
    width: 1000px;
    max-width: 100%;
    padding: 50px 100px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.table-fixed{
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

ul{
    margin-bottom: 0;    
}


