
table {
    border-collapse: collapse;
    width: 90%;
    height: 290px;
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
  }
  body {
      background-image: url("/fon.jpg");
    }
  table td:hover {
      background-color: #d4d6d8;
      cursor:text;
    }
    
  th {
    background-color: #005eb8;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
  }
  td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  h1{
      
      font-family: Arial; 
      font-weight: bold;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .senati-button {
    background-color: #005eb8;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  
  .senati-button:hover {
    background-color: #00489e;
  }
  
  .logo-wrapper {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
    
    .logosenati{
      width: 250px;
      height: 100px;
      background-color: #2E3192
    }

    /*  div de menu */
    .c-navbar{
      height: 6rem;
      width: 100vw;
      overflow: hidden;
      background-color: #040b20;
      display: flex;
      position: sticky;
      z-index: 10;
    }
    .logo{
      display: flex;
      align-content: center;
      float: left;
      width: 140px;
      margin-left: 20px;
    }
    
    .logo img:hover{
      filter: invert(35%) sepia(12%) saturate(4320%) hue-rotate(168deg) brightness(108%) contrast(97%);
    }
    
    .c-navbar a img{
      width: 100%;
    }
    
    .nav-links{
      display: flex;
      list-style: none;
      width: 88vw;
    /*	padding: 0 0.7vw;*/
      justify-content: space-evenly;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    
    .nav-links li a{
      color: #ffff;
      font-size: 20px;
      margin: 0 0.7vw;
    }
    
    .nav-links li a:hover{
      color: #61DAFB;
    }
    
    .nav-links li {
        position: relative;
    }
    
    .nav-links li a::after {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: #61DAFB;
        position: absolute;
        transition: all ease-in-out 250ms;
        margin: 0 0 0 10%;
        border-radius: 5px;
    }
    
    .nav-links li a:hover::after{
        width: 80%;
    }